* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #f9da95;
  --secondary: #fbf3e2;
  --text-primary: #222222;
  --text-secondary: #eef4fa;
  --text-ternary: #0d76d6;
  --text-blured: #6e6e6e;
  --bg-primary: #fff;
  --bg-secondary: #fbf3e2;
  --bg-ternary: #0d76d6;
  --button: #ffc857;
  --border: #d3d3d3;
  --heading: inter;
  --text: inter;
  --error: #f90713;
  --white: #fff;
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-ternary {
  color: var(--text-ternary);
}
.text-blur {
  color: var(--text-blured);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--text-primary);
}
.x-small {
  font-size: 11px;
}
.small {
  font-size: 13px;
}
.large {
  font-size: 18px;
}
.bold {
  font-weight: 600;
}
.semi-bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
